<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>

<body>

    <form ng-app="App" ng-controller="Controller">
        <p>Codigo: <input type="text" ng-model="codigo"></p>
        <p>Nº horas: <input type="text" ng-model="horas"></p>
        <p>Tarifa x Hora: <input type="text" ng-model="tarifa"></p>

        <p>Su codigo es : {{codigo}}<br> usted trabajo {{horas}} horas <br> un precio de {{tarifa}} soles por hora</p>
        <p>Sueldo bruto = {{SueldoBruto()}} soles</p>
        <p>Su Descuento es de : {{Descuento()}} Soles</p>
        <p>El total a pagar es de :{{SueldoFinal()}} soles</p>
    </form>

    <script src="./main.js"></script>
</body>

</html>